@{
    ViewData["Title"] = "Access Denied";
}

<div class="row justify-content-center align-items-center mt-5">
    <span class="text-danger text-center" style="font-size:8rem;"><i class="bi bi-sign-stop-fill"></i></span>
    <h1 class="text-danger text-center">YOU SHALL NOT PASS!</h1>
    <h2 class="text-danger text-center">Ehm, I meant... I'm sorry but the page you are trying to access is restricted and requires proper authorization.</h2>
</div>
