@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="row justify-content-center align-items-center mt-5">
    <span class="text-danger text-center" style="font-size:8rem;"><i class="bi bi-emoji-frown-fill"></i></span>
    <h1 class="text-danger text-center">Ups.</h1>
        <h2 class="text-danger text-center">Something went wrong. Please try again.</h2>
</div>